// Window rules let you adjust behavior for individual windows.
// Find more information on the wiki:
// https://yalter.github.io/niri/Configuration:-Window-Rules

// Put swww inside the overview backdrop.
layer-rule {
    match namespace="^swww-daemonoverview$"

    place-within-backdrop true
}

// Work around WezTerm's initial configure bug
// by setting an empty default-column-width.
window-rule {
    // This regular expression is intentionally made as specific as possible,
    // since this is the default config, and we want no false positives.
    // You can get away with just app-id="wezterm" if you want.
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

// Open the Firefox picture-in-picture player as floating by default.
window-rule {
    // This app-id regular expression will work for both:
    // - host Firefox (app-id is "firefox")
    // - Flatpak Firefox (app-id is "org.mozilla.firefox")
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    match app-id=r#"firefox$"# title="^Library$"

    match app-id="qt5ct"
    match app-id="qt6ct"
    match app-id="kvantummanager"
    match app-id="kvantumpreview"
    match app-id="com.github.wwmm.easyeffects"
    match app-id="thunar"
    match app-id="org.gnome.Nautilus"
    match app-id="mpv"
    match app-id="feh"
    match app-id="com.interversehq.qView"
    match app-id="Bitwarden"
    match app-id="org.keepassxc.KeePassXC"
    match app-id="com.github.tchx84.Flatseal"
    match app-id="it.mijorus.gearlever"
    match app-id="obsidian"
    match app-id="com.obsproject.Studio"
    match app-id="Ferdium"
    match app-id="Audacity"
    match app-id="waypaper"
    match app-id="blueman-manager"
    match app-id="pied"

    open-floating true
}

window-rule {
    match app-id="org.pulseaudio.pavucontrol"
    match app-id="com.saivert.pwvucontrol"

    open-floating true
    default-column-width { fixed 1107; }
    default-window-height { fixed 626; }
}

// Block out password managers from screencasts.
window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^Bitwarden$"#
    match app-id=r#"^discord$"#
    match app-id=r#"firefox$"# title=r#"^.*- Outlook — Mozilla Firefox$"#
    match app-id=r#"firefox$"# title=r#"^.*- Slack — Mozilla Firefox$"#
    match app-id=r#"firefox$"# title=r#"^.*\| LinkedIn — Mozilla Firefox$"#
    match app-id=r#"^com.obsproject.Studio$"#

    block-out-from "screencast"
}

// Example: enable rounded corners for all windows.
// (This example rule is commented out with a "/-" in front.)
/-window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}

// Block out notifications from screencasts.
layer-rule {
    // Mako notifications
    match namespace="^notifications$"
    // Swaync notification and control center
    match namespace="^swaync-notification-window$"
    match namespace="^swaync-control-center$"

    block-out-from "screencast"
}
