// This config is in the KDL format: https://kdl.dev
// "/-" comments out the following node.
// Check the wiki for a full description of the configuration:
// https://yalter.github.io/niri/Configuration:-Introduction

include "config/01-environment-variables.kdl"
include "config/03-input.kdl"
include "config/04-outputs.kdl"
// include "config/05-workspaces.kdl"
include "config/06-layout.kdl"
include "config/07-animations.kdl"
include "config/08-miscellaneous.kdl"
include "config/09-window-rules.kdl"
include "config/10-key-bindings.kdl"
