// Polkit agent
// systemctl --user status plasma-polkit-agent.service

// This line starts waybar, a commonly used bar for Wayland compositors.
spawn-at-startup "waybar"

spawn-at-startup "awww-daemon"
spawn-at-startup "awww-daemon" "-n" "overview"
spawn-at-startup "waypaper" "--restore"


// Put awww inside the overview backdrop.
layer-rule {
    match namespace="^awww-daemonoverview$"

    place-within-backdrop true
}

// Block out notifications from screencasts.
layer-rule {
    // Mako notifications
    match namespace="^notifications$"
    // Swaync notification and control center
    match namespace="^swaync-notification-window$"
    match namespace="^swaync-control-center$"

    block-out-from "screencast"
}

binds {
    Mod+V hotkey-overlay-title="Open clipboard history" { spawn-sh "rofi -modi clipboard:cliphist-rofi-img -show clipboard -show-icons"; }
}
