- link:
    ~/.config/electron-flags.conf: ${DOTFILES_DIR}/wayland/electron-flags.conf
    ~/.config/chromium-flags.conf: ${DOTFILES_DIR}/wayland/chromium-flags.conf
    ~/.config/chrome-flags.conf: ${DOTFILES_DIR}/wayland/chrome-flags.conf
    ~/.config/brave-flags.conf: ${DOTFILES_DIR}/wayland/brave-flags.conf


- shell:
    -
        description: Adding ELECTRON_OZONE_PLATFORM_HINT variable to /etc/environment
        command: >-
            sudo sed -i \
                -e '/^#*\s*ELECTRON_OZONE_PLATFORM_HINT.*/{s//ELECTRON_OZONE_PLATFORM_HINT=auto/;:a;n;ba;q}' \
                -e '$a\\n# Electron Wayland\nELECTRON_OZONE_PLATFORM_HINT=auto' \
                /etc/environment
        quiet: true
