configuration {
  modes: [drun,window,combi];
  font: "FiraCode Nerd Font 12";
  combi-modes: [ drun, window, keys ];
  show-icons: true;
  timeout {
      action: "kb-cancel";
      delay:  0;
  }
  filebrowser {
      directories-first: true;
      sorting-method:    "name";
  }
}

@theme "themes/squared-nord.rasi"
