* {
    border: none;
    border-radius: 0;
    font-family: "Inter", "FiraCode Nerd Font Propo";
    font-feature-settings: "ss01,ss02,ss03,cv06,cv11,cv12,cv13,tnum";
    font-size: 16px;
    min-height: 0;
}

@import 'themes/basic.css';
