* {
    border: none;
    border-radius: 0;
    font-family: "Inter", "FiraCode Nerd Font Propo";
    font-feature-settings: "ss01,ss02,ss03,cv06,cv11,cv12,cv13,tnum";
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    /* background: alpha(@theme_base_color, 0.2); */
    background: transparent;
    color: @theme_text_color;
}

tooltip {
    background: alpha(@theme_bg_color, 0.7);
    border: 2px solid shade(@borders, 1.8);
    border-radius: 8px;
}

tooltip label {
    color: @theme_text_color;
}

box.module,
label.module {
    /* background: @theme_base_color; */
    /* background: alpha(@theme_base_color, 0.2); */
    padding: 5px 10px 10px;
    /* border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px; */
}

/* label.module,
box.module {
    box-shadow: inset 0 -3px @theme_bg_color;
} */

widget:nth-child(4n+1)>label.module,
widget:nth-child(4n+1)>box.module {
    box-shadow: inset 0 -3px shade(@theme_base_color, 1.25);
}

widget:nth-child(4n+3)>label.module,
widget:nth-child(4n+3)>box.module {
    box-shadow: inset 0 -3px shade(@warning_color, 1.25);
}

widget:nth-child(4n+2)>label.module,
widget:nth-child(4n+2)>box.module {
    box-shadow: inset 0 -3px shade(@success_color, 1.25);
}

widget:nth-child(4n+4)>label.module,
widget:nth-child(4n+4)>box.module {
    box-shadow: inset 0 -3px shade(@error_color, 1.25);
}

/* #workspaces button {
    padding: 0 5px;
    background: transparent;
    color: white;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
    background: #64727D;
    border-bottom: 3px solid white;
} */

/* #mode {
    background: #64727D;
    border-bottom: 3px solid white;
} */

/* #battery {
    background-color: #ffffff;
    color: black;
}

#battery.charging {
    color: white;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
} */
